<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.financingproduct.user.mapper.FinancingproductMapper" >
  <resultMap id="BaseResultMap" type="com.kgc.FinancingProduct.bean.Financingproduct" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="risk" property="risk" jdbcType="INTEGER" />
    <result column="income" property="income" jdbcType="VARCHAR" />
    <result column="salestarting" property="salestarting" jdbcType="TIMESTAMP" />
    <result column="saleend" property="saleend" jdbcType="TIMESTAMP" />
    <result column="end" property="end" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, risk, income, salestarting, saleend, end
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kgc.FinancingProduct.bean.FinancingproductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from financingproduct
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from financingproduct
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from financingproduct
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.kgc.FinancingProduct.bean.FinancingproductExample" >
    delete from financingproduct
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kgc.FinancingProduct.bean.Financingproduct" >
    insert into financingproduct (id, risk, income, 
      salestarting, saleend, end
      )
    values (#{id,jdbcType=VARCHAR}, #{risk,jdbcType=INTEGER}, #{income,jdbcType=VARCHAR}, 
      #{salestarting,jdbcType=TIMESTAMP}, #{saleend,jdbcType=TIMESTAMP}, #{end,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kgc.FinancingProduct.bean.Financingproduct" >
    insert into financingproduct
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="risk != null" >
        risk,
      </if>
      <if test="income != null" >
        income,
      </if>
      <if test="salestarting != null" >
        salestarting,
      </if>
      <if test="saleend != null" >
        saleend,
      </if>
      <if test="end != null" >
        end,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="risk != null" >
        #{risk,jdbcType=INTEGER},
      </if>
      <if test="income != null" >
        #{income,jdbcType=VARCHAR},
      </if>
      <if test="salestarting != null" >
        #{salestarting,jdbcType=TIMESTAMP},
      </if>
      <if test="saleend != null" >
        #{saleend,jdbcType=TIMESTAMP},
      </if>
      <if test="end != null" >
        #{end,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kgc.FinancingProduct.bean.FinancingproductExample" resultType="java.lang.Integer" >
    select count(*) from financingproduct
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update financingproduct
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.risk != null" >
        risk = #{record.risk,jdbcType=INTEGER},
      </if>
      <if test="record.income != null" >
        income = #{record.income,jdbcType=VARCHAR},
      </if>
      <if test="record.salestarting != null" >
        salestarting = #{record.salestarting,jdbcType=TIMESTAMP},
      </if>
      <if test="record.saleend != null" >
        saleend = #{record.saleend,jdbcType=TIMESTAMP},
      </if>
      <if test="record.end != null" >
        end = #{record.end,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update financingproduct
    set id = #{record.id,jdbcType=VARCHAR},
      risk = #{record.risk,jdbcType=INTEGER},
      income = #{record.income,jdbcType=VARCHAR},
      salestarting = #{record.salestarting,jdbcType=TIMESTAMP},
      saleend = #{record.saleend,jdbcType=TIMESTAMP},
      end = #{record.end,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgc.FinancingProduct.bean.Financingproduct" >
    update financingproduct
    <set >
      <if test="risk != null" >
        risk = #{risk,jdbcType=INTEGER},
      </if>
      <if test="income != null" >
        income = #{income,jdbcType=VARCHAR},
      </if>
      <if test="salestarting != null" >
        salestarting = #{salestarting,jdbcType=TIMESTAMP},
      </if>
      <if test="saleend != null" >
        saleend = #{saleend,jdbcType=TIMESTAMP},
      </if>
      <if test="end != null" >
        end = #{end,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgc.FinancingProduct.bean.Financingproduct" >
    update financingproduct
    set risk = #{risk,jdbcType=INTEGER},
      income = #{income,jdbcType=VARCHAR},
      salestarting = #{salestarting,jdbcType=TIMESTAMP},
      saleend = #{saleend,jdbcType=TIMESTAMP},
      end = #{end,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>