<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>新增理财信息</h3>
<form th:action="@{/doadd}" th:method="post">
    <p>产品代码:<input type="text" name="id"><span id="id"></span></p>
    <p>
        风险评级:<select  name="risk">
        <option value=0>请选择</option>
        <option value="1">R1</option>
        <option value="2">R2</option>
        <option value="3">R3</option>
    </select>
    </p>
    <p>预期收益:<input type="text" name="income">
    <p>发售起始日:<input type="text" name="salestarting">yyyy-MM-dd格式
    <p>发售截止日:<input type="text" name="saleend">yyyy-MM-dd格式
    <p>产品到期日:<input type="text" name="end">yyyy-MM-dd格式
    <p><input type="submit" value="保存">
        <input type="reset" value="重置">
        <a href="javascript:history.back()"><input type="button" value="返回"></a>
    <p/>
</form>
</body>
</html>